@import "./bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #2990f0;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;

  #validation-message {
    width: 400px;
    border-radius: 2px;
    text-shadow: 1px 1px black;
    font-size: 14px;
  }

  #tensor {
    color: white;
    text-decoration: underline;
  }

  .jumbotron {
    height: auto;
    padding: 0;
    width: 70%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 2px;
    border: 15px solid rgba($color: #000000, $alpha: 0);

    h1 {
      color: black;
      font-weight: bold;
      font-size: 50px;
    }
    p {
      color: white;
      text-shadow: 1px 1px black;

      #sbd {
        color: white;
      }

      #span {
        font-size: 12px;
      }
    }
  }

  .loader-bg {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.95);
    text-align: center;

    div {
      align-self: center;
    }

    #loader-text {
      margin: 40px 0 0 0;
      align-self: center;
      font-weight: bold;
      font-size: 26px;
      color: rgba($color: #fff, $alpha: 0.8);
    }
  }

  img {
    height: auto;
    width: 85%;
    margin: 5% 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 2px;
    border: 15px solid rgba($color: #000000, $alpha: 0);
  }

  #up-form {
    color: white;
    font: bold 16px sans-serif;
    text-align: center;
    width: 80%;
    margin: 5% 0;

    label {
      margin: 1vh 0;
      text-shadow: 1px 1px black;
    }

    .form-control {
      width: 400px;
      height: 150px;
      margin: 0 auto;
      resize: none;
    }

    .btn-secondary {
      width: 250px;
      text-shadow: 1px 1px black;
    }

    .btn-success {
      width: 300px;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }
  }

  .alert-success {
    width: 56%;
    margin: 0 0 5% 0;
    text-align: center;
  }

  .download-section {
    width: 80%;
    margin: 0 0 5% 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .vocals {
      width: 250px;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }

    .instrumental {
      width: 250px;
      font-weight: bold;
      text-shadow: 1px 1px black;
    }
  }
}

// Not Found Page

.notfound-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
  }

  h1 {
    font-size: 50px;
  }
  p {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    .jumbotron {
      h1 {
        color: black;
        font-weight: bold;
        font-size: 50px;
      }
      p {
        color: white;
        text-shadow: 1px 1px black;
        font-size: 14px;

        #sbd {
          color: white;
        }

        #span {
          font-size: 10px;
        }
      }
    }

    #validation-message {
      width: 250px;
    }

    #up-form {
      label {
        font-size: 14px;
      }

      .form-control {
        width: 250px;
        height: 100px;
      }

      .btn-secondary {
        width: 210px;
        font-size: 14px;
      }

      .btn-success {
        width: 250px;
        font-weight: bold;
      }
    }

    .alert-success {
      width: 250px;
      margin: 0 0 5% 0;
      text-align: center;

      strong,
      label {
        font-size: 12px;
      }
    }

    .download-section {
      flex-direction: column;

      .vocals {
        margin: 5% 0;
      }

      .instrumental {
        margin: 5% 0;
      }
    }

    .footer {
      width: 70%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .App {
    .footer {
      width: 70%;
      text-align: center;
    }
  }
}
